@font-face {
  font-family: 'Optima';
  font-style: normal;
  font-weight: 400; /* Regular */
  src: local('Optima'), url('fonts/OPTIMA.woff') format('woff');
}

@font-face {
  font-family: 'Optima';
  font-style: italic;
  font-weight: 400; /* Italic */
  src: local('Optima Italic'), url('fonts/Optima_Italic.woff') format('woff');
}

@font-face {
  font-family: 'Optima';
  font-style: normal;
  font-weight: 500; /* Medium */
  src: local('Optima Medium'), url('fonts/Optima\ Medium.woff') format('woff');
}

@font-face {
  font-family: 'Optima';
  font-style: normal;
  font-weight: 700; /* Bold */
  src: local('Optima Bold'), url('fonts/OPTIMA_B.woff') format('woff');
}

body {
  font-family: 'Optima', "Long Cang", Candara, Calibri, Hiragino Kaku Gothic Pro, Arial, sans-serif;
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
